$font-color: rgba(236,240,241,1);
$link-color: rgba(51, 217, 178,1.0);
$background-color: rgba(48, 57, 82,1.0);
$darker-background-color: rgba(31, 37, 53, .7);
$additional-color: rgba(252, 92, 101,1.0);

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

body {
    background: $background-color;
    height: 100%;
    width: 100%;
}