@import "base";

body {
    width: 200%;
    overflow-x: hidden;
}

nav {
    background-color: $darker-background-color;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 2.5rem 0;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;

        button {
            cursor: pointer;
            transition: 0.05s;
            outline: none;
        }

        .button-submit {
            height: 3rem;
            width: 9rem;
            border: none;
            border-radius: 2px;
            font-size: 1.3rem;
            font-weight: 600;
            color: $background-color;
            background-color: $link-color;
        }

        .button {
            width: 3rem;
            height: 3rem;
            border: none;
            border-radius: 2px;
            color: $background-color;
            font-weight: bold;
            font-size: 1.4rem;
            background-color: $link-color;
            outline: none;
            transition: 0.05s;
            
        }
        
        .button.red, .button-submit.red {
            background-color: $additional-color;
        }

        button:active {
            transform: scale(0.85);
        }

        h1 {
            color: $font-color;
            font-weight: 600;
            font-size: 1.6rem;
        }

        label {
            color: $font-color;
            font-weight: 400;
            font-size: 1.4rem;
            margin-right: .9rem;
        }

        input[type="radio"] {
            margin: 0 .6rem;
        }

        input[type="text"] {
            margin: 0 1rem 0 0;
            height: 2.9rem;
            background: none;
            outline: none;
            border: none;
            border-bottom: 1px solid $background-color;
            color: $font-color;
            font-size: 1.2rem;
        }

        input[type="text"]::placeholder {
            color: $font-color;
            font-size: 1.2rem;
            padding: 5px;
            padding-bottom: 20px;
        }

        input[type="text"]:focus {
            border-bottom: 1px solid $link-color;
        }
    }  
}


main {
    padding-top: 9rem;
    display: grid;
    grid-template-columns: 50% 50%;

    .large {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(8, auto);
    }

    .additional {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, auto);
        height: 50vh;
    }

    .container {
        width: 95%;
        padding-left: 2rem;
        margin: 30px 3%;
        position: relative;
        z-index: 1;

        .canvas {
            display: block;
        }

        .error {
            color: #ff5733;
            position: absolute;
            font-size: 25px;
            z-index: 9999;
            bottom: 160px;
            left: 250px;
            font-weight: bold;
        }
    }
}

@media (max-width: 950px) {
    main .large {
        grid-template-columns: 100%;
        grid-template-rows: repeat(16, auto);
    }

    main .additional {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
    }

    nav ul {
        flex-wrap: wrap;
    }

    li:nth-child(4) {
        order: 3;
    }

    li:nth-child(3) {
        order: 4;
    }
}
